@{
    ViewData["Title"] = "Home Page";
}


      <!-- start: #home -->
      <main id="home" class="main">
        <!-- start: .epcl-banner -->
        <div class="epcl-banner textcenter section grid-container">
          <div style="width: 728px; margin: 0 auto">
            <a href="#" target="_blank" rel="nofollow">
              <img
                src="~/2022/11/banner-728x90-3.png"
                class="custom-image"
                alt="Banner"
              />
            </a>
          </div>
        </div>
        <!-- end: .epcl-banner -->
        <div
          class="grid-container module-wrapper enable-masonry"
          id="epcl-grid-sidebar-1"
        >
          <div class="epcl-row">
            <!-- start: .content-wrapper -->
            <div class="content-wrapper grid-sidebar content">
              <div class="clearfix">
                <!-- start: .left-content -->
                <div class="left-content grid-70">
                  <!-- start: .articles -->
                  <div class="articles grid-posts grid-sidebar columns-2">
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                    <article
                      class="default index-0 grid-50 primary-cat-6 tablet-grid-50 mobile-grid-100 np-mobile post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- start: .post-format-image -->
                            <div
                              class="post-format-image post-style-small-image"
                            >
                              <!-- start: .featured-image -->
                              <div class="featured-image epcl-flex">
                                <!-- start: Classic module -->
                                <!-- end: Classic module -->
                                <!-- start: Grid module -->
                                <a
                                  href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                                  class="thumb fullwidth epcl-loader loaded"
                                >
                                  <img
                                    class="post-image fullimage"
                                    alt="The spectacle before us was indeed sublime"
                                    src="~/2019/08/light-bulb-creative-business-idea-symbol-held-by-hand_53876-127176-1-450x500.jpg"
                                    width="100%"
                                    height="380"
                                  />
                                </a>
                                <div class="info textleft">
                                  <h1
                                    class="main-title title large inline shadow-effect"
                                  >
                                    <a
                                      href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                                      >The spectacle before us was indeed
                                      sublime</a
                                    >
                                  </h1>
                                </div>
                                <div class="tags">
                                  <a
                                    href="../category/travel/index.html"
                                    class="tag-link-6"
                                    ><svg>
                                      <use
                                        xlink:href="#tag-decoration"
                                      ></use></svg
                                    >Travel</a
                                  >
                                </div>
                                <div class="meta absolute">
                                  <a
                                    href="../the-spectacle-before-us-was-indeed-sublime/index.html#show-comments"
                                    class="comments meta-info icon mobile tooltip"
                                    title="3 Comments"
                                  >
                                    <svg>
                                      <use xlink:href="#comments-icon"></use>
                                    </svg>
                                    <span class="comment-count hidden">3</span>
                                  </a>
                                </div>
                                <!-- end: Grid module -->
                              </div>
                              <!-- end: .featured-image -->
                              <div class="clear"></div>
                            </div>
                            <!-- end: .post-format-image -->
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-09-26"
                              >September 26, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">1</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            Welcome, it’s great to have you here. We know that
                            first impressions are important, so we’ve&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/admin/index.html"
                              title="Author: Jonathan Doe"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-1.jpg"
                              ></span>
                              <span class="author-name">Jonathan Doe</span>
                            </a>
                            <a
                              href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <article
                      class="default index-1 grid-50 primary-cat-3 tablet-grid-50 mobile-grid-100 np-mobile post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-music category-technology tag-country tag-image"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- start: .post-format-image -->
                            <div
                              class="post-format-image post-style-small-image"
                            >
                              <!-- start: .featured-image -->
                              <div class="featured-image epcl-flex">
                                <!-- start: Classic module -->
                                <!-- end: Classic module -->
                                <!-- start: Grid module -->
                                <a
                                  href="../far-far-away-behind-the-word-mountains/index.html"
                                  class="thumb fullwidth epcl-loader epcl-loader"
                                >
                                  <img
                                    class="post-image fullimage lazy"
                                    alt="Far far away, behind the word mountains"
                                    data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-450x500.jpg"
                                    src="../wp-content/themes/groovy/assets/images/transparent.gif"
                                    width="100%"
                                    height="380"
                                  />
                                </a>
                                <div class="info textleft">
                                  <h1
                                    class="main-title title large inline shadow-effect"
                                  >
                                    <a
                                      href="../far-far-away-behind-the-word-mountains/index.html"
                                      >Far far away, behind the word
                                      mountains</a
                                    >
                                  </h1>
                                </div>
                                <div class="tags">
                                  <a
                                    href="../category/lifestyle/index.html"
                                    class="tag-link-3"
                                    ><svg>
                                      <use
                                        xlink:href="#tag-decoration"
                                      ></use></svg
                                    >Lifestyle</a
                                  >
                                </div>
                                <div class="meta absolute">
                                  <a
                                    href="../far-far-away-behind-the-word-mountains/index.html#show-comments"
                                    class="comments meta-info icon mobile tooltip"
                                    title="0 Comments"
                                  >
                                    <svg>
                                      <use xlink:href="#comments-icon"></use>
                                    </svg>
                                    <span class="comment-count hidden">0</span>
                                  </a>
                                </div>
                                <!-- end: Grid module -->
                              </div>
                              <!-- end: .featured-image -->
                              <div class="clear"></div>
                            </div>
                            <!-- end: .post-format-image -->
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-08-15"
                              >August 15, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">2</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            Far far away, behind the word mountains, far from
                            the countries Vokalia and Consonantia, there
                            live&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/admin/index.html"
                              title="Author: Jonathan Doe"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-1.jpg"
                              ></span>
                              <span class="author-name">Jonathan Doe</span>
                            </a>
                            <a
                              href="../far-far-away-behind-the-word-mountains/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                    <article
                      class="default index-2 grid-50 primary-cat-2 tablet-grid-50 mobile-grid-100 np-mobile post-144 post type-post status-publish format-standard has-post-thumbnail hentry category-health category-travel"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- start: .post-format-image -->
                            <div
                              class="post-format-image post-style-small-image"
                            >
                              <!-- start: .featured-image -->
                              <div class="featured-image epcl-flex">
                                <!-- start: Classic module -->
                                <!-- end: Classic module -->
                                <!-- start: Grid module -->
                                <a
                                  href="../the-meaning-of-health-has-evolved-over-time/index.html"
                                  class="thumb fullwidth epcl-loader epcl-loader"
                                >
                                  <img
                                    class="post-image fullimage lazy"
                                    alt="The meaning of health has evolved over time"
                                    data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-450x500.jpg"
                                    src="../wp-content/themes/groovy/assets/images/transparent.gif"
                                    width="100%"
                                    height="380"
                                  />
                                </a>
                                <div class="info textleft">
                                  <h1
                                    class="main-title title large inline shadow-effect"
                                  >
                                    <a
                                      href="../the-meaning-of-health-has-evolved-over-time/index.html"
                                      >The meaning of health has evolved over
                                      time</a
                                    >
                                  </h1>
                                </div>
                                <div class="tags">
                                  <a
                                    href="../category/health/index.html"
                                    class="tag-link-2"
                                    ><svg>
                                      <use
                                        xlink:href="#tag-decoration"
                                      ></use></svg
                                    >Health</a
                                  >
                                </div>
                                <div class="meta absolute">
                                  <a
                                    href="../the-meaning-of-health-has-evolved-over-time/index.html#show-comments"
                                    class="comments meta-info icon mobile tooltip"
                                    title="0 Comments"
                                  >
                                    <svg>
                                      <use xlink:href="#comments-icon"></use>
                                    </svg>
                                    <span class="comment-count hidden">0</span>
                                  </a>
                                </div>
                                <!-- end: Grid module -->
                              </div>
                              <!-- end: .featured-image -->
                              <div class="clear"></div>
                            </div>
                            <!-- end: .post-format-image -->
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-07-26"
                              >July 26, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">1</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            In keeping with the biomedical perspective, early
                            definitions of health focused on the theme of
                            the&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/admin/index.html"
                              title="Author: Jonathan Doe"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-1.jpg"
                              ></span>
                              <span class="author-name">Jonathan Doe</span>
                            </a>
                            <a
                              href="../the-meaning-of-health-has-evolved-over-time/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <article
                      class="default index-3 grid-50 primary-cat-4 tablet-grid-50 mobile-grid-100 np-mobile post-185 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- start: .post-format-image -->
                            <div
                              class="post-format-image post-style-small-image"
                            >
                              <!-- start: .featured-image -->
                              <div class="featured-image epcl-flex">
                                <!-- start: Classic module -->
                                <!-- end: Classic module -->
                                <!-- start: Grid module -->
                                <a
                                  href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                                  class="thumb fullwidth epcl-loader epcl-loader"
                                >
                                  <img
                                    class="post-image fullimage lazy"
                                    alt="Musical improvisation is the spontaneous music"
                                    data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-450x500.jpg"
                                    src="../wp-content/themes/groovy/assets/images/transparent.gif"
                                    width="100%"
                                    height="380"
                                  />
                                </a>
                                <div class="info textleft">
                                  <h1
                                    class="main-title title large inline shadow-effect"
                                  >
                                    <a
                                      href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                                      >Musical improvisation is the spontaneous
                                      music</a
                                    >
                                  </h1>
                                </div>
                                <div class="tags">
                                  <a
                                    href="../category/music/index.html"
                                    class="tag-link-4"
                                    ><svg>
                                      <use
                                        xlink:href="#tag-decoration"
                                      ></use></svg
                                    >Music</a
                                  >
                                </div>
                                <div class="meta absolute">
                                  <a
                                    href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html#show-comments"
                                    class="comments meta-info icon mobile tooltip"
                                    title="0 Comments"
                                  >
                                    <svg>
                                      <use xlink:href="#comments-icon"></use>
                                    </svg>
                                    <span class="comment-count hidden">0</span>
                                  </a>
                                </div>
                                <!-- end: Grid module -->
                              </div>
                              <!-- end: .featured-image -->
                              <div class="clear"></div>
                            </div>
                            <!-- end: .post-format-image -->
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-07-25"
                              >July 25, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">1</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            It was one of the worst storms to hit London since
                            God knows when. The thunder&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/admin/index.html"
                              title="Author: Jonathan Doe"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-1.jpg"
                              ></span>
                              <span class="author-name">Jonathan Doe</span>
                            </a>
                            <a
                              href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                    <article
                      class="default index-4 grid-50 primary-cat-5 tablet-grid-50 mobile-grid-100 np-mobile post-80 post type-post status-publish format-standard has-post-thumbnail hentry category-technology"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- start: .post-format-image -->
                            <div
                              class="post-format-image post-style-small-image"
                            >
                              <!-- start: .featured-image -->
                              <div class="featured-image epcl-flex">
                                <!-- start: Classic module -->
                                <!-- end: Classic module -->
                                <!-- start: Grid module -->
                                <a
                                  href="../customizing-your-brand-and-design-settings/index.html"
                                  class="thumb fullwidth epcl-loader epcl-loader"
                                >
                                  <img
                                    class="post-image fullimage lazy"
                                    alt="Customizing your brand and design settings"
                                    data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-450x500.jpg"
                                    src="../wp-content/themes/groovy/assets/images/transparent.gif"
                                    width="100%"
                                    height="380"
                                  />
                                </a>
                                <div class="info textleft">
                                  <h1
                                    class="main-title title large inline shadow-effect"
                                  >
                                    <a
                                      href="../customizing-your-brand-and-design-settings/index.html"
                                      >Customizing your brand and design
                                      settings</a
                                    >
                                  </h1>
                                </div>
                                <div class="tags">
                                  <a
                                    href="../category/technology/index.html"
                                    class="tag-link-5"
                                    ><svg>
                                      <use
                                        xlink:href="#tag-decoration"
                                      ></use></svg
                                    >Technology</a
                                  >
                                </div>
                                <div class="meta absolute">
                                  <a
                                    href="../customizing-your-brand-and-design-settings/index.html#show-comments"
                                    class="comments meta-info icon mobile tooltip"
                                    title="0 Comments"
                                  >
                                    <svg>
                                      <use xlink:href="#comments-icon"></use>
                                    </svg>
                                    <span class="comment-count hidden">0</span>
                                  </a>
                                </div>
                                <!-- end: Grid module -->
                              </div>
                              <!-- end: .featured-image -->
                              <div class="clear"></div>
                            </div>
                            <!-- end: .post-format-image -->
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-07-25"
                              >July 25, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">1</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            The Ghost editor has everything you need to fully
                            optimise your content. This is where you&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/jdoe/index.html"
                              title="Author: Mary Buzard"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-2.jpg"
                              ></span>
                              <span class="author-name">Mary Buzard</span>
                            </a>
                            <a
                              href="../customizing-your-brand-and-design-settings/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <article
                      class="default index-5 grid-50 primary-cat-4 tablet-grid-50 mobile-grid-100 np-mobile post-89 post type-post status-publish format-gallery has-post-thumbnail hentry category-travel post_format-post-format-gallery"
                    >
                      <div class="epcl-bg bg-box">
                        <header>
                          <div class="post-format-wrapper">
                            <!-- In case of loop return just the title and meta info -->
                            <div class="post-format-gallery">
                              <div class="slick-slider" data-rtl="">
                                <div class="item epcl-loader">
                                  <span
                                    class="thumb fullimage cover lazy"
                                    data-src="~/2019/07/hello-summer-tag-with-airplanes-table.jpg"
                                  ></span>
                                  <a
                                    href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html"
                                    class="full-link"
                                  ></a>
                                </div>
                                <div class="item epcl-loader">
                                  <span
                                    class="thumb fullimage cover lazy"
                                    data-src="~/2019/08/1920-love-to-drink-coffee-to-increase-energy-1.jpg"
                                  ></span>
                                  <a
                                    href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html"
                                    class="full-link"
                                  ></a>
                                </div>
                                <div class="item epcl-loader">
                                  <span
                                    class="thumb fullimage cover lazy"
                                    data-src="~/2019/07/simple-creative-idea-drawn-paper-light-bulbs-tic-tac-toe-grid-made-crayons-pastel-background_63762-9110.jpg"
                                  ></span>
                                  <a
                                    href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html"
                                    class="full-link"
                                  ></a>
                                </div>
                              </div>
                            </div>
                            <div class="info below-image textcenter">
                              <h1
                                class="main-title title underline-effect large"
                              >
                                <a
                                  href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html"
                                  >5 Spanish Cities that will make you fall in
                                  Love</a
                                >
                              </h1>
                            </div>
                            <div class="tags">
                              <a
                                href="../category/music/index.html"
                                class="tag-link-4"
                                ><svg>
                                  <use xlink:href="#tag-decoration"></use></svg
                                >Music</a
                              >
                            </div>
                            <div class="meta absolute">
                              <a
                                href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html#show-comments"
                                class="comments meta-info icon mobile tooltip"
                                title="0 Comments"
                              >
                                <svg>
                                  <use xlink:href="#comments-icon"></use>
                                </svg>
                                <span class="comment-count hidden">0</span>
                              </a>
                            </div>
                          </div>
                          <!-- start: .meta -->
                          <div class="meta date">
                            <time class="meta-info" datetime="2019-07-25"
                              >July 25, 2019</time
                            >
                            <div class="min-read meta-info hide-on-desktop-sm">
                              <span class="count">1</span> Min Read
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- end: .meta -->
                        </header>
                        <div class="post-excerpt">
                          <p>
                            Spain is home to some of the most stunning
                            architecture in Europe, known throughout the
                            world&#8230;
                          </p>
                          <div class="clear"></div>
                        </div>
                        <footer class="bottom">
                          <div class="meta bottom">
                            <a
                              href="../author/admin/index.html"
                              title="Author: Jonathan Doe"
                              class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm"
                            >
                              <span
                                class="author-image cover lazy"
                                data-src="../wp-content/uploads/2023/01/avatar-1.jpg"
                              ></span>
                              <span class="author-name">Jonathan Doe</span>
                            </a>
                            <a
                              href="../5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/index.html"
                              class="continue-reading epcl-button white"
                              >Continue Reading</a
                            >
                            <div class="clear"></div>
                          </div>
                        </footer>
                        <div class="clear"></div>
                        <div class="epcl-category-overlay"></div>
                      </div>
                    </article>
                    <div class="clear hide-on-tablet"></div>
                    <div class="clear hide-on-desktop hide-on-mobile"></div>
                  </div>
                  <!-- end: .articles -->
                  <div
                    class="separator last hide-on-tablet hide-on-mobile"
                  ></div>
                  <div class="clear"></div>
                  <!-- start: .epcl-pagination -->
                  <div class="epcl-pagination section">
                    <div class="nav">
                      <span class="page-number"> Page 1 of 2 </span>
                      <a
                        href="page/2/index.html"
                        class="epcl-button secondary small"
                        data-title="Next"
                        >Next</a
                      >
                    </div>
                  </div>
                  <!-- end: .epcl-pagination -->
                </div>
                <!-- end: .left-content -->
                <!-- start: #sidebar -->
                <aside id="sidebar" class="grid-30 no-sidebar sticky-enabled">
                  <div class="sidebar-wrapper default-sidebar">
                    <section
                      id="epcl_about-6"
                      class="widget bg-box widget_epcl_about"
                    >
                      <h4 class="widget-title title medium bordered">
                        <span class="bg">About Me</span
                        ><span class="border"></span>
                      </h4>
                      <div class="avatar">
                        <a
                          href="../author/admin/index.html"
                          class="shadow-effect thumb"
                          ><span
                            class="fullimage cover"
                            style="
                              background-image: url(../wp-content/uploads/2023/01/avatar-1.jpg);
                            "
                          ></span
                        ></a>
                      </div>
                      <div class="info">
                        <h4
                          class="title small underline-effect author-name no-margin"
                        >
                          <a href="../author/admin/index.html">Jonathan Doe</a>
                        </h4>
                        <p class="founder">Founder &amp; Editor</p>
                        <div class="social">
                          <a
                            href="https://twitter.com/wordpress"
                            class="twitter tooltip"
                            title="Follow me on Twitter"
                            target="_blank"
                            ><i class="fa fa-twitter"></i
                          ></a>
                          <a
                            href="http://www.facebook.com/estudiopatagon"
                            class="facebook tooltip"
                            title="Follow me on Facebook"
                            target="_blank"
                            ><i class="fa fa-facebook"></i
                          ></a>
                          <a
                            href="https://themes.estudiopatagon.com/wordpress/groovy"
                            class="website tooltip"
                            title="Website: https://themes.estudiopatagon.com/wordpress/groovy"
                            target="_blank"
                            ><i class="fa fa-globe"></i
                          ></a>
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                      <p>
                        Hello! My name is Jonathan Doe working from Chile. I
                        create some Ghost and Wordpress themes for differents
                        markets, also, i offer live support via our ticket
                        system.
                      </p>
                      <div class="clear"></div>
                    </section>
                    <section
                      id="epcl_posts_thumbs-5"
                      class="widget bg-box widget_epcl_posts_thumbs"
                    >
                      <h4 class="widget-title title medium bordered">
                        <span class="bg">Recent Posts</span
                        ><span class="border"></span>
                      </h4>
                      <article
                        class="item primary-cat-3 post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-music category-technology tag-country tag-image"
                      >
                        <a
                          href="../far-far-away-behind-the-word-mountains/index.html"
                          class="thumb main-effect epcl-loader"
                          aria-label="Far far away, behind the word mountains"
                        >
                          <span
                            class="fullimage cover lazy"
                            data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-150x150.jpg"
                          ></span>
                          <span class="epcl-number">1</span>
                        </a>
                        <div class="info">
                          <div class="right">
                            <h4 class="title usmall underline-effect">
                              <a
                                href="../far-far-away-behind-the-word-mountains/index.html"
                                >Far far away, behind the word mountains</a
                              >
                            </h4>
                            <time datetime="2019-08-15" class="icon"
                              >August 15, 2019</time
                            >
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                      </article>
                      <article
                        class="item primary-cat-6 post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel"
                      >
                        <a
                          href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                          class="thumb main-effect epcl-loader"
                          aria-label="The spectacle before us was indeed sublime"
                        >
                          <span
                            class="fullimage cover lazy"
                            data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/light-bulb-creative-business-idea-symbol-held-by-hand_53876-127176-1-150x150.jpg"
                          ></span>
                          <span class="epcl-number">2</span>
                        </a>
                        <div class="info">
                          <div class="right">
                            <h4 class="title usmall underline-effect">
                              <a
                                href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                                >The spectacle before us was indeed sublime</a
                              >
                            </h4>
                            <time datetime="2019-09-26" class="icon"
                              >September 26, 2019</time
                            >
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                      </article>
                      <article
                        class="item primary-cat-4 post-185 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology"
                      >
                        <a
                          href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                          class="thumb main-effect epcl-loader"
                          aria-label="Musical improvisation is the spontaneous music"
                        >
                          <span
                            class="fullimage cover lazy"
                            data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-150x150.jpg"
                          ></span>
                          <span class="epcl-number">3</span>
                        </a>
                        <div class="info">
                          <div class="right">
                            <h4 class="title usmall underline-effect">
                              <a
                                href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                                >Musical improvisation is the spontaneous
                                music</a
                              >
                            </h4>
                            <time datetime="2019-07-25" class="icon"
                              >July 25, 2019</time
                            >
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                      </article>
                      <div class="clear"></div>
                    </section>
                    <section
                      id="epcl_social-9"
                      class="widget bg-box widget_epcl_social"
                    >
                      <h4 class="widget-title title medium bordered">
                        <span class="bg">Follow me!</span
                        ><span class="border"></span>
                      </h4>
                      <div class="icons">
                        <a
                          href="#"
                          class="twitter"
                          target="_blank"
                          rel="nofollow noopener"
                          ><span class="icon twitter"
                            ><i class="fa fa-twitter"></i
                          ></span>
                          <span class="name">Twitter</span></a
                        ><a
                          href="#"
                          class="facebook"
                          target="_blank"
                          rel="nofollow noopener"
                          ><span class="icon facebook"
                            ><i class="fa fa-facebook"></i
                          ></span>
                          <span class="name">Facebook</span></a
                        ><a
                          href="#"
                          class="instagram"
                          target="_blank"
                          rel="nofollow noopener"
                          ><span class="icon instagram"
                            ><i class="fa fa-instagram"></i
                          ></span>
                          <span class="name">Instagram</span></a
                        ><a
                          href="http://estudiopatagon.com/feed"
                          class="rss"
                          target="_blank"
                          rel="nofollow noopener"
                          ><span class="icon rss"
                            ><i class="fa fa-rss"></i
                          ></span>
                          <span class="name">Rss</span></a
                        >
                      </div>
                      <div class="clear"></div>
                    </section>
                    <section
                      id="epcl_tag_cloud-5"
                      class="widget bg-box widget_epcl_tag_cloud"
                    >
                      <h4 class="widget-title title medium bordered">
                        <span class="bg">Tag Cloud</span
                        ><span class="border"></span>
                      </h4>
                      <div class="tagcloud">
                        <a
                          href="../category/health/index.html"
                          class="tag-link-2 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Health</a
                        ><a
                          href="../category/lifestyle/index.html"
                          class="tag-link-3 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Lifestyle</a
                        ><a
                          href="../category/music/index.html"
                          class="tag-link-4 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Music</a
                        ><a
                          href="../category/technology/index.html"
                          class="tag-link-5 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Technology</a
                        ><a
                          href="../category/travel/index.html"
                          class="tag-link-6 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Travel</a
                        ><a
                          href="../category/video/index.html"
                          class="tag-link-7 tag-cloud-link"
                          ><svg><use xlink:href="#tag-decoration"></use></svg
                          >Video</a
                        >
                      </div>
                      <div class="clear"></div>
                    </section>
                  </div>
                </aside>
                <!-- end: #sidebar -->
              </div>
            </div>
            <!-- end: .content-wrapper -->
          </div>
        </div>
      </main>
      <!-- end: #home -->