
@{
    ViewData["Title"] = "Index";
}

 <!-- start: #page -->
      <main id="page" class="main grid-container">
        <!-- start: #single -->
        <div id="single" class="content no-sidebar no-thumb">
          <!-- start: .epcl-page-wrapper -->
          <div class="epcl-page-wrapper clearfix row">
            <!-- start: .left-content -->
            <div class="left-content grid-70 np-mobile">
              <article
                class="main-article bg-box post-43 page type-page status-publish hentry"
              >
                <section class="post-content">
                  <h1
                    class="title large bold absolute bordered small-border-radius"
                  >
                    Contact
                  </h1>
                  <div class="text">
                    <p></p>
                    <p class="has-text-align-center">
                      Feel free to <strong>send a message</strong>, just fill
                      the form belowand
                      <strong>i will reply you shortly</strong>! 👍
                    </p>
                    <div
                      class="wpcf7 no-js"
                      id="wpcf7-f5-p43-o1"
                      lang="en-US"
                      dir="ltr"
                    >
                      <div class="screen-reader-response">
                        <p
                          role="status"
                          aria-live="polite"
                          aria-atomic="true"
                        ></p>
                        <ul></ul>
                      </div>
                      <form
                        action="https://themes.estudiopatagon.com/wordpress/groovy/contact/#wpcf7-f5-p43-o1"
                        method="post"
                        class="wpcf7-form init"
                        aria-label="Contact form"
                        novalidate="novalidate"
                        data-status="init"
                      >
                        <div style="display: none">
                          <input type="hidden" name="_wpcf7" value="5" />
                          <input
                            type="hidden"
                            name="_wpcf7_version"
                            value="5.7.2"
                          />
                          <input
                            type="hidden"
                            name="_wpcf7_locale"
                            value="en_US"
                          />
                          <input
                            type="hidden"
                            name="_wpcf7_unit_tag"
                            value="wpcf7-f5-p43-o1"
                          />
                          <input
                            type="hidden"
                            name="_wpcf7_container_post"
                            value="43"
                          />
                          <input
                            type="hidden"
                            name="_wpcf7_posted_data_hash"
                            value=""
                          />
                        </div>
                        <p>
                          <label>
                            Your name<br />
                            <span
                              class="wpcf7-form-control-wrap"
                              data-name="your-name"
                              ><input
                                size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                aria-required="true"
                                aria-invalid="false"
                                value=""
                                type="text"
                                name="your-name"
                            /></span>
                          </label>
                        </p>
                        <p>
                          <label>
                            Your email<br />
                            <span
                              class="wpcf7-form-control-wrap"
                              data-name="your-email"
                              ><input
                                size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                aria-required="true"
                                aria-invalid="false"
                                value=""
                                type="email"
                                name="your-email"
                            /></span>
                          </label>
                        </p>
                        <p>
                          <label>
                            Subject<br />
                            <span
                              class="wpcf7-form-control-wrap"
                              data-name="your-subject"
                              ><input
                                size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                aria-required="true"
                                aria-invalid="false"
                                value=""
                                type="text"
                                name="your-subject"
                            /></span>
                          </label>
                        </p>
                        <p>
                          <label>
                            Your message (optional)<br />
                            <span
                              class="wpcf7-form-control-wrap"
                              data-name="your-message"
                            >
                              <textarea
                                cols="40"
                                rows="10"
                                class="wpcf7-form-control wpcf7-textarea"
                                aria-invalid="false"
                                name="your-message"
                              ></textarea>
                            </span>
                          </label>
                        </p>
                        <p>
                          <input
                            class="wpcf7-form-control has-spinner wpcf7-submit"
                            type="submit"
                            value="Submit"
                          />
                        </p>
                        <div
                          class="wpcf7-response-output"
                          aria-hidden="true"
                        ></div>
                      </form>
                    </div>
                  </div>
                  <div class="clear"></div>
                </section>
              </article>
            </div>
            <!-- end: .left-content -->
            <!-- start: #sidebar -->
            <aside id="sidebar" class="grid-30 no-sidebar sticky-enabled">
              <div class="sidebar-wrapper default-sidebar">
                <section
                  id="epcl_about-5"
                  class="widget bg-box widget_epcl_about"
                >
                  <h4 class="widget-title title medium bordered">
                    <span class="bg">About Me</span><span class="border"></span>
                  </h4>
                  <div class="avatar">
                    <a
                      href="../author/admin/index.html"
                      class="shadow-effect thumb"
                      ><span
                        class="fullimage cover"
                        style="
                          background-image: url(../wp-content/uploads/2023/01/avatar-1.jpg);
                        "
                      ></span
                    ></a>
                  </div>
                  <div class="info">
                    <h4
                      class="title small underline-effect author-name no-margin"
                    >
                      <a href="../author/admin/index.html">Jonathan Doe</a>
                    </h4>
                    <p class="founder">Founder &amp; Editor</p>
                    <div class="social">
                      <a
                        href="https://twitter.com/wordpress"
                        class="twitter tooltip"
                        title="Follow me on Twitter"
                        target="_blank"
                        ><i class="fa fa-twitter"></i
                      ></a>
                      <a
                        href="http://www.facebook.com/estudiopatagon"
                        class="facebook tooltip"
                        title="Follow me on Facebook"
                        target="_blank"
                        ><i class="fa fa-facebook"></i
                      ></a>
                      <a
                        href="https://themes.estudiopatagon.com/wordpress/groovy"
                        class="website tooltip"
                        title="Website: https://themes.estudiopatagon.com/wordpress/groovy"
                        target="_blank"
                        ><i class="fa fa-globe"></i
                      ></a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <p>
                    Hello! My name is Jonathan Doe working from Chile. I create
                    some Ghost and Wordpress themes for differents markets,
                    also, i offer live support via our ticket system.
                  </p>
                  <div class="clear"></div>
                </section>
                <section
                  id="epcl_posts_thumbs-7"
                  class="widget bg-box widget_epcl_posts_thumbs"
                >
                  <h4 class="widget-title title medium bordered">
                    <span class="bg">Recent Posts</span
                    ><span class="border"></span>
                  </h4>
                  <article
                    class="item primary-cat-6 post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel"
                  >
                    <a
                      href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                      class="thumb main-effect epcl-loader"
                      aria-label="The spectacle before us was indeed sublime"
                    >
                      <span
                        class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/light-bulb-creative-business-idea-symbol-held-by-hand_53876-127176-1-150x150.jpg"
                      ></span>
                      <span class="epcl-number">1</span>
                    </a>
                    <div class="info">
                      <div class="right">
                        <h4 class="title usmall underline-effect">
                          <a
                            href="../the-spectacle-before-us-was-indeed-sublime/index.html"
                            >The spectacle before us was indeed sublime</a
                          >
                        </h4>
                        <time datetime="2019-09-26" class="icon"
                          >September 26, 2019</time
                        >
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <article
                    class="item primary-cat-3 post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-music category-technology tag-country tag-image"
                  >
                    <a
                      href="../far-far-away-behind-the-word-mountains/index.html"
                      class="thumb main-effect epcl-loader"
                      aria-label="Far far away, behind the word mountains"
                    >
                      <span
                        class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-150x150.jpg"
                      ></span>
                      <span class="epcl-number">2</span>
                    </a>
                    <div class="info">
                      <div class="right">
                        <h4 class="title usmall underline-effect">
                          <a
                            href="../far-far-away-behind-the-word-mountains/index.html"
                            >Far far away, behind the word mountains</a
                          >
                        </h4>
                        <time datetime="2019-08-15" class="icon"
                          >August 15, 2019</time
                        >
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <article
                    class="item primary-cat-2 post-144 post type-post status-publish format-standard has-post-thumbnail hentry category-health category-travel"
                  >
                    <a
                      href="../the-meaning-of-health-has-evolved-over-time/index.html"
                      class="thumb main-effect epcl-loader"
                      aria-label="The meaning of health has evolved over time"
                    >
                      <span
                        class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-150x150.jpg"
                      ></span>
                      <span class="epcl-number">3</span>
                    </a>
                    <div class="info">
                      <div class="right">
                        <h4 class="title usmall underline-effect">
                          <a
                            href="../the-meaning-of-health-has-evolved-over-time/index.html"
                            >The meaning of health has evolved over time</a
                          >
                        </h4>
                        <time datetime="2019-07-26" class="icon"
                          >July 26, 2019</time
                        >
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <article
                    class="item primary-cat-4 post-185 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology"
                  >
                    <a
                      href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                      class="thumb main-effect epcl-loader"
                      aria-label="Musical improvisation is the spontaneous music"
                    >
                      <span
                        class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-150x150.jpg"
                      ></span>
                      <span class="epcl-number">4</span>
                    </a>
                    <div class="info">
                      <div class="right">
                        <h4 class="title usmall underline-effect">
                          <a
                            href="../musical-improvisation-is-the-creation-of-spontaneous-music/index.html"
                            >Musical improvisation is the spontaneous music</a
                          >
                        </h4>
                        <time datetime="2019-07-25" class="icon"
                          >July 25, 2019</time
                        >
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <div class="clear"></div>
                </section>
                <section
                  id="epcl_social-6"
                  class="widget bg-box widget_epcl_social"
                >
                  <h4 class="widget-title title medium bordered">
                    <span class="bg">Follow me!</span
                    ><span class="border"></span>
                  </h4>
                  <div class="icons">
                    <a
                      href="#"
                      class="twitter"
                      target="_blank"
                      rel="nofollow noopener"
                      ><span class="icon twitter"
                        ><i class="fa fa-twitter"></i
                      ></span>
                      <span class="name">Twitter</span></a
                    ><a
                      href="#"
                      class="facebook"
                      target="_blank"
                      rel="nofollow noopener"
                      ><span class="icon facebook"
                        ><i class="fa fa-facebook"></i
                      ></span>
                      <span class="name">Facebook</span></a
                    ><a
                      href="#"
                      class="instagram"
                      target="_blank"
                      rel="nofollow noopener"
                      ><span class="icon instagram"
                        ><i class="fa fa-instagram"></i
                      ></span>
                      <span class="name">Instagram</span></a
                    ><a
                      href="http://estudiopatagon.com/feed"
                      class="rss"
                      target="_blank"
                      rel="nofollow noopener"
                      ><span class="icon rss"><i class="fa fa-rss"></i></span>
                      <span class="name">Rss</span></a
                    >
                  </div>
                  <div class="clear"></div>
                </section>
                <section
                  id="epcl_tag_cloud-7"
                  class="widget bg-box widget_epcl_tag_cloud"
                >
                  <h4 class="widget-title title medium bordered">
                    <span class="bg">Tag Cloud</span
                    ><span class="border"></span>
                  </h4>
                  <div class="tagcloud">
                    <a
                      href="../category/health/index.html"
                      class="tag-link-2 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Health</a
                    ><a
                      href="../category/lifestyle/index.html"
                      class="tag-link-3 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Lifestyle</a
                    ><a
                      href="../category/music/index.html"
                      class="tag-link-4 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Music</a
                    ><a
                      href="../category/technology/index.html"
                      class="tag-link-5 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Technology</a
                    ><a
                      href="../category/travel/index.html"
                      class="tag-link-6 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Travel</a
                    ><a
                      href="../category/video/index.html"
                      class="tag-link-7 tag-cloud-link"
                      ><svg><use xlink:href="#tag-decoration"></use></svg
                      >Video</a
                    >
                  </div>
                  <div class="clear"></div>
                </section>
              </div>
            </aside>
            <!-- end: #sidebar -->
          </div>
          <!-- end: .epcl-page-wrapper -->
        </div>
        <!-- end: #single -->
      </main>
      <!-- end: #page -->
