
@{
    ViewData["Title"] = "Index2";
}


<main id="page" class="main grid-container">
			
        <div id="single" class="content no-sidebar no-thumb">  
        
                            

            
            <div class="epcl-page-wrapper clearfix row">

                
                <div class="left-content grid-70 np-mobile">
                    <article class="main-article bg-box post-30 page type-page status-publish hentry">

                        <section class="post-content">
                            
                               
                                <h1 class="title large bold absolute bordered small-border-radius">Gutenberg Blocks</h1>
                            
                            <div class="text">
                                
<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>



<span id="more-30"></span>



<hr class="wp-block-separator has-css-opacity">



<h1>Heading One</h1>



<h2>Heading Two</h2>



<h3>Heading Three</h3>



<h4>Heading Four</h4>



<h5>Heading Five</h5>



<h6>Heading Six</h6>



<hr class="wp-block-separator has-css-opacity">



<h2>Preformatted Block</h2>



<pre class="wp-block-preformatted"><strong>The Road Not Taken</strong>, <em>by Robert Frost</em><br><br>Two roads diverged in a yellow wood,<br>And sorry I could not travel both<br>And be one traveler, long I stood <br>And looked down one as far as I could<br>To where it bent in the undergrowth;<br>Then took the other, as just as fair,<br>And having perhaps the better claim,<br>Because it was grassy and wanted wear;<br>Though as for that the passing there<br>Had worn them really about the same,<br>And both that morning equally lay<br>In leaves no step had trodden black.<br>Oh, I kept the first for another day!<br>Yet knowing how way leads on to way,<br>I doubted if I should ever come back.<br>I shall be telling this with a sigh<br>Somewhere ages and ages hence:<br>Two roads diverged in a wood, and I—<br>I took the one less traveled by,<br>And that has made all the difference.<br><br>...and heres a line of some really, really, really, really long text, just to see how it is handled and to find out how it overflows;</pre>



<hr class="wp-block-separator has-css-opacity">



<h2>Ordered List</h2>



<ol>
<li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>



<li>Donec ullamcorper nulla non metus auctor fringilla.
<ol>
<li>Condimentum euismod aenean.</li>



<li>Purus commodo ridiculus.</li>



<li>Nibh commodo vestibulum.</li>
</ol>
</li>



<li>Cras justo odio, dapibus ac facilisis in.</li>
</ol>



<hr class="wp-block-separator has-css-opacity">



<h2>Unordered List</h2>



<ul>
<li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>



<li>Donec ullamcorper nulla non metus auctor fringilla.
<ul>
<li>Nibh commodo vestibulum.</li>



<li>Aenean eu leo quam.</li>



<li>Pellentesque ornare sem lacinia.</li>
</ul>
</li>



<li>Cras justo odio, dapibus ac facilisis in.</li>
</ul>



<hr class="wp-block-separator has-css-opacity">



<h2>Verse</h2>



<p>This is an example of the core Gutenberg verse block.</p>



<pre class="wp-block-verse">A block for haiku? <br>Why not? <br>Blocks for all the things!</pre>



<h2>Separator</h2>



<p>Here are examples of the three separator styles of the core Gutenberg separator block.</p>



<hr class="wp-block-separator has-css-opacity">



<hr class="wp-block-separator has-css-opacity is-style-wide">



<hr class="wp-block-separator has-css-opacity is-style-dots">



<h2>Table</h2>



<p>Here is an example of the core Gutenberg table block. </p>



<figure class="wp-block-table"><table><tbody><tr><td>Employee</td><td>Salary</td><td>Position</td></tr><tr><td>Jane Doe<br></td><td>$100k</td><td>CEO</td></tr><tr><td>John Doe</td><td>$100k</td><td>CTO</td></tr><tr><td>Jane Bloggs</td><td>$100k</td><td>Engineering</td></tr><tr><td>Fred Bloggs</td><td>$100k</td><td>Marketing</td></tr></tbody></table></figure>



<hr class="wp-block-separator has-css-opacity">



<h2>Latest Posts, List View</h2>



<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>


<ul class="wp-block-latest-posts__list wp-block-latest-posts"><li><a class="wp-block-latest-posts__post-title" href="../../the-spectacle-before-us-was-indeed-sublime/index5593.html?amp=1">The spectacle before us was indeed sublime</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../far-far-away-behind-the-word-mountains/index5593.html?amp=1">Far far away, behind the word mountains</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../the-meaning-of-health-has-evolved-over-time/index5593.html?amp=1">The meaning of health has evolved over time</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../musical-improvisation-is-the-creation-of-spontaneous-music/index5593.html?amp=1">Musical improvisation is the spontaneous music</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../customizing-your-brand-and-design-settings/index5593.html?amp=1">Customizing your brand and design settings</a></li>
</ul>


<h2>Latest Posts, Grid View</h2>



<p>And now for the Grid View. The Latest Posts block also displays at wide and full width alignments, so be sure to check those styles as well.</p>


<ul class="wp-block-latest-posts__list is-grid columns-2 wp-block-latest-posts"><li><a class="wp-block-latest-posts__post-title" href="../../the-spectacle-before-us-was-indeed-sublime/index5593.html?amp=1">The spectacle before us was indeed sublime</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../far-far-away-behind-the-word-mountains/index5593.html?amp=1">Far far away, behind the word mountains</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../the-meaning-of-health-has-evolved-over-time/index5593.html?amp=1">The meaning of health has evolved over time</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../musical-improvisation-is-the-creation-of-spontaneous-music/index5593.html?amp=1">Musical improvisation is the spontaneous music</a></li>
<li><a class="wp-block-latest-posts__post-title" href="../../customizing-your-brand-and-design-settings/index5593.html?amp=1">Customizing your brand and design settings</a></li>
</ul>


<hr class="wp-block-separator has-css-opacity">



<h2>Blockquote</h2>



<p>Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna sed diam ed diam eget risus varius eget.</p>



<blockquote class="wp-block-quote has-text-align-left">
<p>Donec sed odio dui. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.</p>
<cite>Rich Tabor</cite></blockquote>



<p>Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna sed diam ed diam eget risus varius eget.</p>



<hr class="wp-block-separator has-css-opacity">



<h2>Alternate Blockquote</h2>



<p>The alternate block quote style can be tarageted using the <strong>.wp-block-quote.is-large</strong>. CSS selector. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>



<blockquote class="wp-block-quote has-text-align-left is-large">
<p>Donec sed odio dui. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
<cite>Rich Tabor</cite></blockquote>



<p>Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna sed diam ed diam eget risus varius eget.</p>



<hr class="wp-block-separator has-css-opacity">



<h2>Audio</h2>



<p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. <strong>Center aligned</strong>:</p>



<figure class="wp-block-audio aligncenter"><amp-audio controls="" src="https://example.com/" width="auto"><a href="https://example.com/" fallback="">https://example.com</a><noscript><audio controls src="https://example.com/"></audio></noscript><audio controls></audio></amp-audio><figcaption class="wp-element-caption">An example of an Audio Block caption</figcaption></figure>



<p>Curabitur blandit tempus porttitor. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>



<hr class="wp-block-separator has-css-opacity">



<h2>Buttons</h2>



<p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. <strong>Center aligned</strong>: </p>



<div class="wp-block-button aligncenter"><a class="wp-block-button__link wp-element-button" href="https://themebeans.com/">Center Aligned Button</a></div>



<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. </p>



<div class="wp-block-button alignleft"><a class="wp-block-button__link wp-element-button" href="https://themebeans.com/">Left Aligned Button</a></div>



<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius.</p>



<div class="wp-block-button alignright"><a class="wp-block-button__link wp-element-button">Right Aligned Button</a></div>



<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius.</p>



<hr class="wp-block-separator has-css-opacity">



<h2>Categories</h2>


<ul class="wp-block-categories-list wp-block-categories">	<li class="cat-item cat-item-2"><a href="../../category/health/index5593.html?amp=1">Health</a> <span class="count">3</span>
</li>
	<li class="cat-item cat-item-3"><a href="../../category/lifestyle/index5593.html?amp=1">Lifestyle</a> <span class="count">6</span>
</li>
	<li class="cat-item cat-item-4"><a href="../../category/music/index5593.html?amp=1">Music</a> <span class="count">3</span>
</li>
	<li class="cat-item cat-item-5"><a href="../../category/technology/index5593.html?amp=1">Technology</a> <span class="count">4</span>
</li>
	<li class="cat-item cat-item-6"><a href="../../category/travel/index5593.html?amp=1">Travel</a> <span class="count">3</span>
</li>
	<li class="cat-item cat-item-7"><a href="../../category/video/index5593.html?amp=1">Video</a> <span class="count">1</span>
</li>
</ul>


<hr class="wp-block-separator has-css-opacity">



<h2>Archives</h2>


<ul class=" wp-block-archives-list wp-block-archives">	<li><a href="../../2019/09/index5593.html?amp=1">September 2019</a> <span class="count">1</span></li>
	<li><a href="../../2019/08/index5593.html?amp=1">August 2019</a> <span class="count">1</span></li>
	<li><a href="../../2019/07/index5593.html?amp=1">July 2019</a> <span class="count">7</span></li>
	<li><a href="../../2019/06/index5593.html?amp=1">June 2019</a> <span class="count">2</span></li>
</ul>


<hr class="wp-block-separator has-css-opacity">



<h2>Columns</h2>



<div class="is-layout-flex wp-container-3 wp-block-columns has-2-columns">
<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.</p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.</p>
</div>
</div>



<hr class="wp-block-separator has-css-opacity">



<div class="is-layout-flex wp-container-7 wp-block-columns has-3-columns">
<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
</div>
</div>



<hr class="wp-block-separator has-css-opacity">



<div class="is-layout-flex wp-container-12 wp-block-columns has-4-columns">
<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condim entum nibh.</p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condim entum nibh.</p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condim entum nibh.</p>
</div>



<div class="is-layout-flow wp-block-column">
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condim entum nibh.</p>
</div>
</div>



<hr class="wp-block-separator has-css-opacity">



<h2>Pull Quotes</h2>



<p>Here is an example of the core pull quote block, set to display centered. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>



<figure class="wp-block-pullquote aligncenter"><blockquote><p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere est at lobortis.</p><cite>Rich Tabor, ThemeBeans.com</cite></blockquote></figure>



<h3>Wide aligned</h3>



<p>Here is an example of the core pull quote block, set to display with the wide-aligned attribute, if the theme allows it. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>



<figure class="wp-block-pullquote alignleft"><blockquote><p>Here we have a left-aligned pullquote.</p><cite>Rich Tabor</cite></blockquote></figure>



<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</p>



<figure class="wp-block-pullquote alignright"><blockquote><p>Here we have a right-aligned pullquote.</p><cite>Rich Tabor</cite></blockquote></figure>



<p>Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>



<hr class="wp-block-separator has-css-opacity">



<h2>Image Block</h2>



<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>


<div class="wp-block-image">
<figure class="aligncenter size-large is-resized"><amp-img src="../../wp-content/uploads/2019/08/job253-gade-effect-1024x682.jpg" alt="" class="wp-image-875 amp-wp-enforced-sizes i-amphtml-layout-responsive i-amphtml-layout-size-defined" width="0" height="0" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-1024x682.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-1536x1024.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-2048x1365.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px" disable-inline-width="" layout="responsive" i-amphtml-layout="responsive"><noscript><img decoding="async" src="../../wp-content/uploads/2019/08/job253-gade-effect-1024x682.jpg" alt="" width="-137" height="-91" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-1024x682.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-1536x1024.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job253-gade-effect-2048x1365.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px"></noscript></amp-img><figcaption class="wp-element-caption">Layered editable text effect template vector 3d typography</figcaption></figure></div>


<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>


<div class="wp-block-image">
<figure class="alignleft size-large is-resized"><amp-img src="../../wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1024x683.jpg" alt="" class="wp-image-956 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="255" height="169" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1024x683.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1536x1024.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171.jpg 1920w" sizes="(max-width: 255px) 100vw, 255px" layout="intrinsic" disable-inline-width="" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE2OSIgd2lkdGg9IjI1NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="></i-amphtml-sizer><noscript><img decoding="async" loading="lazy" src="../../wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1024x683.jpg" alt="" width="255" height="169" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1024x683.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-1536x1024.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171.jpg 1920w" sizes="(max-width: 255px) 100vw, 255px"></noscript></amp-img></figure></div>


<p><strong>Left aligned:</strong> dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>



<p></p>



<p></p>


<div class="wp-block-image">
<figure class="alignright size-large is-resized"><amp-img src="../../wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1024x1024.jpg" alt="" class="wp-image-866 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="220" height="220" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1024x1024.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-300x300.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-150x150.jpg 150w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-768x768.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1536x1536.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763.jpg 1920w" sizes="(max-width: 220px) 100vw, 220px" layout="intrinsic" disable-inline-width="" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIyMCIgd2lkdGg9IjIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="></i-amphtml-sizer><noscript><img decoding="async" loading="lazy" src="../../wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1024x1024.jpg" alt="" width="220" height="220" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1024x1024.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-300x300.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-150x150.jpg 150w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-768x768.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763-1536x1536.jpg 1536w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hand-drawing-illustration-successful-concept_53876-36763.jpg 1920w" sizes="(max-width: 220px) 100vw, 220px"></noscript></amp-img></figure></div>


<p>Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus.</p>



<h2>Video Block</h2>



<p>Lets check out the positioning and styling of the video core block. We will check the wide and full alignments too.</p>



<h2>Cover Image Block</h2>



<p>Check out the positioning and styling of the cover image core block. We will check the wide and full alignments, as well as left/right.</p>



<div class="wp-block-cover alignleft is-light amp-wp-43056ed" data-amp-original-style="min-height:339px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><amp-img width="1920" height="1920" class="wp-block-cover__image-background wp-image-865 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" alt="" src="../../wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387.jpg" data-object-fit="cover" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387.jpg 1920w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-300x300.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-1024x1024.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-150x150.jpg 150w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-768x768.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-1536x1536.jpg 1536w" sizes="(max-width: 1920px) 100vw, 1920px" layout="intrinsic" disable-inline-width="" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE5MjAiIHdpZHRoPSIxOTIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" loading="lazy" width="1920" height="1920" alt="" src="../../wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387.jpg" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387.jpg 1920w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-300x300.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-1024x1024.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-150x150.jpg 150w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-768x768.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-1536x1536.jpg 1536w" sizes="(max-width: 1920px) 100vw, 1920px"></noscript></amp-img><div class="wp-block-cover__inner-container">
<p class="has-text-align-center has-large-font-size">Example caption</p>
</div></div>



<p><strong>Left aligned:</strong> dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>



<p></p>



<hr class="wp-block-separator has-css-opacity">



<div class="wp-block-cover alignright is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><amp-img width="1080" height="1625" class="wp-block-cover__image-background wp-image-871 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" alt="" src="../../wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1.jpg" data-object-fit="cover" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1.jpg 1080w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-199x300.jpg 199w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-681x1024.jpg 681w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-768x1156.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-1021x1536.jpg 1021w" sizes="(max-width: 1080px) 100vw, 1080px" layout="intrinsic" disable-inline-width="" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE2MjUiIHdpZHRoPSIxMDgwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" loading="lazy" width="1080" height="1625" alt="" src="../../wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1.jpg" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1.jpg 1080w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-199x300.jpg 199w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-681x1024.jpg 681w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-768x1156.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-1021x1536.jpg 1021w" sizes="(max-width: 1080px) 100vw, 1080px"></noscript></amp-img><div class="wp-block-cover__inner-container">
<p class="has-text-align-center has-large-font-size">Example caption</p>
</div></div>



<p><strong>Right aligned:</strong> scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>



<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. ﻿<strong>Center aligned:</strong></p>



<div class="wp-block-cover aligncenter is-light amp-wp-ab12f0f" data-amp-original-style="min-height:440px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><amp-img width="1920" height="1280" class="wp-block-cover__image-background wp-image-877 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" alt="" src="../../wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763.jpg" data-object-fit="cover" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763.jpg 1920w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-1024x683.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-1536x1024.jpg 1536w" sizes="(max-width: 1920px) 100vw, 1920px" layout="intrinsic" disable-inline-width="" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyODAiIHdpZHRoPSIxOTIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" loading="lazy" width="1920" height="1280" alt="" src="../../wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763.jpg" srcset="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763.jpg 1920w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-300x200.jpg 300w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-1024x683.jpg 1024w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-768x512.jpg 768w, https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/bright-pick-near-electric-guitar_23-2147781763-1536x1024.jpg 1536w" sizes="(max-width: 1920px) 100vw, 1920px"></noscript></amp-img><div class="wp-block-cover__inner-container">
<p class="has-text-align-center has-large-font-size">Example animated surface </p>
</div></div>



<hr class="wp-block-separator has-css-opacity">



<h2>Gallery Blocks</h2>



<p>Let us check out the positioning and styling of the gallery blocks.</p>



<h3>Two Column Gallery</h3>



<p>Below we have a Gallery Block inserted with two columns and two images.</p>



<figure class="is-layout-flex wp-block-gallery-13 wp-block-gallery has-nested-images columns-default is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Three Column</h3>



<p>Below we have a Gallery Block inserted with three columns and three images.</p>



<figure class="is-layout-flex wp-block-gallery-15 wp-block-gallery has-nested-images columns-default is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Four Column</h3>



<p>Below we have a Gallery Block inserted with four columns and four images.</p>



<figure class="is-layout-flex wp-block-gallery-17 wp-block-gallery has-nested-images columns-4 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Five Column</h3>



<p>Below we have a Gallery Block inserted with five columns and five images.</p>



<figure class="is-layout-flex wp-block-gallery-19 wp-block-gallery has-nested-images columns-5 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Four Column, Five Images</h3>



<p>Let us switch things up a bit. Now we have a Gallery Block inserted with four columns and five images.</p>



<figure class="is-layout-flex wp-block-gallery-21 wp-block-gallery has-nested-images columns-4 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Three Column, Five Images</h3>



<p>Now we have a Gallery Block inserted with three columns and five images.</p>



<figure class="is-layout-flex wp-block-gallery-23 wp-block-gallery has-nested-images columns-3 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<p>Below you will find a Gallery Block inserted with two columns and five images.</p>



<h3>Two Column, Five Images</h3>



<figure class="is-layout-flex wp-block-gallery-25 wp-block-gallery has-nested-images columns-2 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242" class="amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<h3>Three Column, Four Images</h3>



<p>Below you will find a Gallery Block inserted with three columns and four images.</p>



<figure class="is-layout-flex wp-block-gallery-27 wp-block-gallery has-nested-images columns-3 is-cropped alignnone">
<figure class="wp-block-image size-large"><amp-img data-id="2124" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" class="wp-image-2124 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="1736" height="1242" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img data-id="2125" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" class="wp-image-2125 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="1736" height="1242" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img data-id="2117" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" class="wp-image-2117 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="1736" height="1242" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>



<figure class="wp-block-image size-large"><amp-img data-id="2119" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" class="wp-image-2119 amp-wp-enforced-sizes i-amphtml-layout-intrinsic i-amphtml-layout-size-defined" width="1736" height="1242" layout="intrinsic" i-amphtml-layout="intrinsic"><i-amphtml-sizer slot="i-amphtml-svc" class="i-amphtml-sizer"><img alt="" aria-hidden="true" class="i-amphtml-intrinsic-sizer" role="presentation" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyNDIiIHdpZHRoPSIxNzM2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="></i-amphtml-sizer><noscript><img decoding="async" src="../../../../../estudiopatagon.com/themes/wordpress/breek/wp-content/plugins/block-unit-test/assets/images/placeholder.jpg" alt="" width="1736" height="1242"></noscript></amp-img></figure>
</figure>



<p></p>
                            </div>
                            
                            <div class="clear"></div>

                              
                            
                                                    </section>   

                    </article>

                                        
                </div>
                

                    
    <aside id="sidebar" class="grid-30 no-sidebar sticky-enabled">
        <div class="sidebar-wrapper default-sidebar"><section id="epcl_about-5" class="widget bg-box widget_epcl_about"><h4 class="widget-title title medium bordered"><span class="bg">About Me</span><span class="border"></span></h4>                                    <div class="avatar">                            
                        <a href="../../author/admin/index5593.html?amp=1" class="shadow-effect thumb"><span class="fullimage cover amp-wp-9e43498" data-amp-original-style="background-image: url(https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2023/01/avatar-1.jpg)"></span></a>                            
                    </div>
                                <div class="info">
                    <h4 class="title small underline-effect author-name no-margin"><a href="../../author/admin/index5593.html?amp=1">Jonathan Doe</a></h4>
                                            <p class="founder">Founder &amp; Editor</p>
                                              
                    <div class="social">                                
                                                    <a href="https://twitter.com/wordpress" class="twitter tooltip" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                                                            <a href="http://www.facebook.com/estudiopatagon" class="facebook tooltip" title="Follow me on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                                                            <a href="https://themes.estudiopatagon.com/wordpress/groovy?amp=1" class="website tooltip" title="Website: https://themes.estudiopatagon.com/wordpress/groovy" target="_blank"><i class="fa fa-globe"></i></a>
                                            </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                
                <p>Hello! My name is Jonathan Doe working from Chile. I create some Ghost and Wordpress themes for differents markets, also, i offer live support via our ticket system.</p>
        <div class="clear"></div></section><section id="epcl_posts_thumbs-7" class="widget bg-box widget_epcl_posts_thumbs"><h4 class="widget-title title medium bordered"><span class="bg">Recent Posts</span><span class="border"></span></h4><article class="item primary-cat-6 post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel">

                    
        <a href="../../the-spectacle-before-us-was-indeed-sublime/index5593.html?amp=1" class="thumb main-effect " aria-label="The spectacle before us was indeed sublime">
                            <span class="fullimage cover amp-wp-c73b7ea" data-amp-original-style="background: url('https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/light-bulb-creative-business-idea-symbol-held-by-hand_53876-127176-1-150x150.jpg');"></span>
                        <span class="epcl-number">1</span>
        </a>
    
    <div class="info">
        <div class="right">
            <h4 class="title usmall underline-effect"><a href="../../the-spectacle-before-us-was-indeed-sublime/index5593.html?amp=1">The spectacle before us was indeed sublime</a></h4>
            <time datetime="2019-09-26" class="icon">September 26, 2019</time>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</article><article class="item primary-cat-3 post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-music category-technology tag-country tag-image">

                    
        <a href="../../far-far-away-behind-the-word-mountains/index5593.html?amp=1" class="thumb main-effect " aria-label="Far far away, behind the word mountains">
                            <span class="fullimage cover amp-wp-fdc3aae" data-amp-original-style="background: url('https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/layered-number-one-stylized-typography_53876-96387-150x150.jpg');"></span>
                        <span class="epcl-number">2</span>
        </a>
    
    <div class="info">
        <div class="right">
            <h4 class="title usmall underline-effect"><a href="../../far-far-away-behind-the-word-mountains/index5593.html?amp=1">Far far away, behind the word mountains</a></h4>
            <time datetime="2019-08-15" class="icon">August 15, 2019</time>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</article><article class="item primary-cat-2 post-144 post type-post status-publish format-standard has-post-thumbnail hentry category-health category-travel">

                    
        <a href="../../the-meaning-of-health-has-evolved-over-time/index5593.html?amp=1" class="thumb main-effect " aria-label="The meaning of health has evolved over time">
                            <span class="fullimage cover amp-wp-ba4f2a4" data-amp-original-style="background: url('https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-150x150.jpg');"></span>
                        <span class="epcl-number">3</span>
        </a>
    
    <div class="info">
        <div class="right">
            <h4 class="title usmall underline-effect"><a href="../../the-meaning-of-health-has-evolved-over-time/index5593.html?amp=1">The meaning of health has evolved over time</a></h4>
            <time datetime="2019-07-26" class="icon">July 26, 2019</time>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</article><article class="item primary-cat-4 post-185 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology">

                    
        <a href="../../musical-improvisation-is-the-creation-of-spontaneous-music/index5593.html?amp=1" class="thumb main-effect " aria-label="Musical improvisation is the spontaneous music">
                            <span class="fullimage cover amp-wp-98c6ee9" data-amp-original-style="background: url('https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/radio-concept-with-cassette-yellow-background_23-2148681171-150x150.jpg');"></span>
                        <span class="epcl-number">4</span>
        </a>
    
    <div class="info">
        <div class="right">
            <h4 class="title usmall underline-effect"><a href="../../musical-improvisation-is-the-creation-of-spontaneous-music/index5593.html?amp=1">Musical improvisation is the spontaneous music</a></h4>
            <time datetime="2019-07-25" class="icon">July 25, 2019</time>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</article><div class="clear"></div></section><section id="epcl_social-6" class="widget bg-box widget_epcl_social"><h4 class="widget-title title medium bordered"><span class="bg">Follow me!</span><span class="border"></span></h4><div class="icons"><a href="#" class="twitter" target="_blank" rel="nofollow noopener"><span class="icon twitter"><i class="fa fa-twitter"></i></span> <span class="name">Twitter</span></a><a href="#" class="facebook" target="_blank" rel="nofollow noopener"><span class="icon facebook"><i class="fa fa-facebook"></i></span> <span class="name">Facebook</span></a><a href="#" class="instagram" target="_blank" rel="nofollow noopener"><span class="icon instagram"><i class="fa fa-instagram"></i></span> <span class="name">Instagram</span></a><a href="http://estudiopatagon.com/feed" class="rss" target="_blank" rel="nofollow noopener"><span class="icon rss"><i class="fa fa-rss"></i></span> <span class="name">Rss</span></a></div><div class="clear"></div></section><section id="epcl_tag_cloud-7" class="widget bg-box widget_epcl_tag_cloud"><h4 class="widget-title title medium bordered"><span class="bg">Tag Cloud</span><span class="border"></span></h4><div class="tagcloud "><a href="../../category/health/index5593.html?amp=1" class="tag-link-2 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Health</a><a href="../../category/lifestyle/index5593.html?amp=1" class="tag-link-3 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Lifestyle</a><a href="../../category/music/index5593.html?amp=1" class="tag-link-4 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Music</a><a href="../../category/technology/index5593.html?amp=1" class="tag-link-5 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Technology</a><a href="../../category/travel/index5593.html?amp=1" class="tag-link-6 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Travel</a><a href="../../category/video/index5593.html?amp=1" class="tag-link-7 tag-cloud-link"><svg><use xlink:href="#tag-decoration"></use></svg>Video</a></div><div class="clear"></div></section></div>
            </aside>
    

            </div>
            

        </div>
        
    </main>

